*{
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 97vw;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 251, 0);
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 251, 0));
    background-repeat: no-repeat;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    color: black;
}


#imagens{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.080);
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
}

img{
    width: 50%;
    max-width: 200px;
}

#perdeu{
    display: none;
    width: 96vw;
    max-width: 425px;
    height: 70%;
    position: absolute;
    left: 50%;
    margin-left: -48vw;
    top: 19%;
    margin-top: -35px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
#msgErro{
    color: black;
}
#jogarNovamente{
    width: 300px;
    border-radius: 10px;
    background-color: rgb(0, 183, 255);
    position: relative;
    top: 65%;
    color: white;
}

#button, #comeca{
    display: flex;
    justify-content: center; 
}

button{
    width: 30vw;
    max-width: 200px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
}

#vivo{
    background-color: rgb(25, 196, 20);
    border-bottom: green solid 2.5px;
    border-right: green solid 4px;
    color: white;
    font-weight: 900;
    font-size: 18px;
}

#vivo:hover{
    background-color: rgb(0, 255, 34);
}

#morto{
    background-color: rgb(209, 10, 10);
    border-bottom: rgb(128, 0, 0) solid 2.5px;
    border-right: rgb(128, 0, 0) solid 4px;
    color: white;
    font-weight: 900;
    font-size: 18px;
}

#morto:hover{
    background-color: rgb(255, 0, 0);
}
