@keyframes tempo{
    from{width: 100%;}
    to{width: 0%;}
}

*{
    font-family: 'Courier New', Courier, monospace;
}

.verde{
    color: green;
}
.vermelho{
    color: red;
}
.preto{
    color: black;
}

body {
    width: 97vw;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 251, 0);
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 251, 0));
    background-repeat: no-repeat;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 120%;
}

#comeca{
    text-align: center;
}

#comeca h1{
    font-size: 350%;
}

#comeca button{
    font-size: 150%;
    pointer-events: fill;
    color: rgb(82, 82, 82);
}
#comeca button:hover{
    background-color: rgb(219, 219, 219);
}

#imagens{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.080);
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
}

#temporizador{
    display: none;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    height: 2px;
    background-color: rgb(255, 238, 0);
    animation: tempo;
    animation-duration: 2.5s;
}

img{
    width: 50%;
    max-width: 700px;
}

#perdeu{
    line-height: 30px;
    display: none;
    width: 96vw;
    max-width: 400px;
    max-height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
#msgErro{
    color: black;
}

#jogarNovamente{
    width: 300px;
    font-size: 120%;
    border-radius: 10px;
    background-color: rgb(0, 183, 255);
    color: white;
}

#button{
    display: flex;
    justify-content: center; 
}

button{
    width: 31vw;
    max-width: 300px;
    height: 7vh;
    margin: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
}

#vivo{
    background-color: rgb(25, 196, 20);
    border-bottom: green solid 2.5px;
    border-right: green solid 4px;
    color: white;
    font-weight: 900;
    font-size: 150%;
    display: none;
}

#vivo:hover{
    background-color: rgb(0, 255, 34);
}

#morto{
    background-color: rgb(209, 10, 10);
    border-bottom: rgb(128, 0, 0) solid 2.5px;
    border-right: rgb(128, 0, 0) solid 4px;
    color: white;
    font-weight: 900;
    font-size: 150%;
    display: none;
}

#morto:hover{
    background-color: rgb(255, 0, 0);
}
