*{
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 98vw;
    max-width: 900px;
    margin: 0 auto;
    /* border: 1px rgb(255, 255, 255) solid; */
    background-color: white;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    color: black;
}


#imagens{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
}

img{
    width: 50%;
    max-width: 200px;
}

#button, #comeca{
    display: flex;
    justify-content: center; 
}

button{
    width: 30vw;
    max-width: 200px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
}

#vivo{
    background-color: rgb(25, 196, 20);
    border-bottom: green solid 2.5px;
    border-right: green solid 4px;
    color: white;
    font-weight: 900;
    font-size: 18px;
}

#vivo:hover{
    background-color: rgb(0, 255, 34);
}

#morto{
    background-color: rgb(209, 10, 10);
    border-bottom: rgb(128, 0, 0) solid 2.5px;
    border-right: rgb(128, 0, 0) solid 4px;
    color: white;
    font-weight: 900;
    font-size: 18px;
}

#morto:hover{
    background-color: rgb(255, 0, 0);
}
